.root {
  height: 75vh;
  margin: auto;
  background-color: aqua;
  border: #000000;
  border-style: dotted;
}

.Row {
  display: table;
  width: 100% /*Optional*/;
}
.Column {
  display: table-cell;
  text-align: center;
  background-color: #ffffff /*Optional*/;
  height: 47px;
}

.ColumnText {
  font-size: 34px;
  font-weight: bold;
}

.ColumnTextTime {
  color: #ff0000;
}

.ColumnText2 {
  font-size: 12px;
  color: #bdbdbd;
}

.button1 {
  background-color: #ff9574;
  border-radius: "100px 0px 0px 100px";
  border: "none";
  color: "#FFFFFF";
  height: "57px";
}

.button2 {
  background-color: #ff7070;
  border-radius: "0px 100px 100px 0px";
  border: "none";
  color: #ffffff;
  height: "57px";
}
