.index:global {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  > .back-button {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    margin-top: 56px;
  }
  > .large-title {
    display: flex;
    flex: none;
    order: 1;
    margin-top: 32px;
  }
  > .medium-title-box {
    order: 3;
    margin-top: 33px;
  }
  > .small-title {
    order: 4;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
  }
  > .choiceText {
    order: 5;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 25px;
    white-space: pre-wrap;
    color: #000000;
    margin-bottom: 13px;
  }
  > .row {
    width: 340px;
    order: 5;
    display: flex;
    flex: none;
    flex-direction: row;
    justify-content: space-between;
    > .dropdownButton {
      background-color: #ededed;
      border: 0px;
      border-radius: 12px;
      display: flex;
      /* flex-direction: row; */
      align-items: center;
      justify-content: space-between;
    }

    > .selectBox {
      position: relative;
      height: 44px;

      background: rgba(237, 237, 237, 0.8);
      border-radius: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;

      > .icon {
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      > .select {
        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; // 기본 화살표 없애기

        position: relative;
        width: inherit;
        height: inherit;
        border: 0 none;
        outline: 0 none;
        padding: 0 40px;
        background: transparent;
        z-index: 3; // select가 위로 올라와야 함

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: rgba(0, 0, 0, 0.5);
      }

      > .iconArrow {
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 1;
        width: 30px;

        margin-right: 10px;

        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        > .img {
          transition: 0.3s; // 부드럽게 회전
        }
      }

      > .select:focus + .icoArrow img {
        transform: rotate(180deg);
      }
    }

    > .fullBox {
      width: 340px;
    }

    > .halfBox {
      width: 165px;
    }

    > .yearBox {
      width: 145px;
      > .select {
        padding: 0 15px;
      }
    }

    > .monthBox {
      width: 81px;
      > .select {
        padding: 0 15px;
      }
    }

    > .dayBox {
      width: 81px;
      > .select {
        padding: 0 15px;
      }
    }
  }

  > .next-step-button-on {
    display: flex;
    flex: none;
    order: 6;
    margin-top: 57px;
    margin-bottom: 30px;
  }
  > .next-step-button-off {
    display: flex;
    flex: none;
    order: 6;
    margin-top: 57px;
    margin-bottom: 30px;
  }
}
