.QuestionContentPage {
  /* text-align: center; */
  text-align: left;
  margin: 0 57px;
}

.QuestionContentPageTitle {
  margin: 0px -27px;
}

.QuestionContentQuestionTitle {
  margin: 26px 0px;
}
.QuestionContentRemained {
  display: flex;
  justify-content: space-between;
}

.QuestionContentColumn {
  /* display: table-cell; */
  display: flex;
  /* flex-direction: column; */
}
.QuestionContentQuestionBody {
  /* margin: 0 57px; */
  /* Body */

  /* position: absolute; */
  width: 275px;
  height: 88px;
  left: calc(50% - 275px / 2 - 0.5px);
  top: 415px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  letter-spacing: -0.408px;

  color: #434343;
}
/* 
.QuestionContentBody {
  text-align: left;
  margin: 0 57px;
}

.QuestionContentBody {
  text-align: left;
  margin: 0 57px;
} */
