.index:global {
  height: 100%;

  padding-left: 25px;
  padding-right: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;

  > .back-button {
    width: 24px;
    height: 24px;
  }

  > .large_title {
    width: 100%;
    height: 41px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    /* identical to box height, or 121% */

    letter-spacing: 0.374px;

    color: #000000;
  }
  > .term_and_agree {
    display: flex;
    flex-direction: column;
    > .term_box {
      height: 453px;
      padding: 20px;
      border-radius: 20px;
      background: #e9e9e9;
      display: flex;
      > .terms_wrapper {
        overflow-y: scroll;
        > .terms {
          white-space: pre-wrap;
          font-family: "Inter";
          overflow-y: hidden;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;

          color: rgba(4, 2, 2, 0.35);
        }
      }
    }

    > .agree_box {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 17px;
      > .checkbox_wrapper {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        align-items: center;
        > .check_box {
          box-sizing: border-box;
          width: 11px;
          height: 11px;
          border: 1px solid #000000;
        }
        > .checked {
          background: #000000;
        }
        > .unchecked {
          background: #ffffff;
        }
        > .text {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          color: #000000;

          margin-left: 5px;
        }
      }
    }
  }

  > .main_btn_wrapper {
    width: 100%;
    height: fit-content;
  }
}
