.rootBettingContent {
  justify-content: center;
  /* width: 75%; */
  height: 50vh;
  margin: auto;
  background-color: aqua;
  border: #000000;
  border-style: dotted;
}

.BettingContentComponent {
  width: 345px;
  /* height: 430px; */
  left: 22px;
  top: 174px;
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding: 0px;

  background: #ffffff;
  border-radius: 8px;
  margin: auto;
}

.BettingContentTop {
  height: 41px;
  left: 12.17%;
  right: 12.28%;
  top: 20px;
  margin: 0 37.5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  /* identical to box height, or 121% */

  letter-spacing: 0.374px;

  color: #000000;
}

.BettingContentTitle {
  /* Body */

  /* position: absolute; */
  width: 270px;
  height: 25px;
  left: 12.17%;
  right: 12.46%;
  top: 75px;
  padding: 0px;
  margin: 0 37.5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  letter-spacing: -0.408px;

  color: #434343;
}

.BettingContentBody {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  /* position: absolute; */
  height: 154px;
  left: 10.72%;
  right: 11.01%;
  top: 138px;
}

.BettingContentBodyLeft {
  /* Frame 641 */

  width: 135px;
  height: 154px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.BettingContentBodyRight {
  /* Frame 642 */

  width: 135px;
  height: 154px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.BettingContentSmallTitleLeft {
  /* Small Title */

  /* position: absolute; */
  height: 22px;
  left: 3.7%;
  right: 63.7%;
  top: 5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.408px;

  color: #000000;
}
.BettingContentSmallSubTitleLeft {
  /* Sub Title */

  /* position: absolute; */
  height: 45px;
  left: 0%;
  right: 8.89%;
  top: 100px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  text-align: left;
  letter-spacing: -0.408px;

  color: #000000;
}

.BettingContentSmallTitleRight {
  /* Small Title */

  /* position: absolute; */
  height: 22px;
  left: 74.07%;
  right: 3.7%;
  top: 5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  /* display: flex; */
  align-items: center;
  text-align: right;
  letter-spacing: -0.408px;

  color: #000000;
}

.BettingContentPercentLeft {
  /* Super Title */

  /* position: absolute; */
  height: 40px;
  left: 12.59%;
  right: 13.33%;
  top: 47px;
  padding: 20px 0px 13px 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 22px;
  /* or 46% */

  display: grid;
  align-items: center;
  text-align: center;
  letter-spacing: -0.408px;

  color: #ff9574;
}

.BettingContentPercentRight {
  /* Super Title */

  /* position: absolute; */
  height: 40px;
  left: 12.59%;
  right: 13.33%;
  top: 46.5px;
  padding: 20px 0px 13px 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 22px;
  /* or 46% */

  display: grid;
  align-items: center;
  text-align: center;
  letter-spacing: -0.408px;

  color: #ff7070;
}
.BettingContentSmallSubTitleRight {
  /* Sub Title */

  /* position: absolute; */
  height: 45px;
  left: 3.7%;
  right: 0%;
  top: 100px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  text-align: right;
  letter-spacing: -0.408px;

  color: #000000;
}

.BettingContentInputCoinButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 16px;
  gap: 8px;
  margin: 0 37.5px;
  height: 16px;

  /* position: absolute; */
  width: 239px;
  left: 10.14%;
  right: 10.14%;
  top: 310px;

  background: rgba(237, 237, 237, 0.8);
  border-radius: 100px;
  border-width: 0px;
}

.buttonRow {
  /* Auto layout */

  margin: 0 37.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
  gap: 11px;

  /* position: absolute; */
  /* width: 275px; */
  height: 40px;
  left: calc(50% - 275px / 2);
  top: 367.5px;

  border-radius: 100px;
}

.button1 {
  /* BtnBlock */

  width: 132px;
  height: 40px;

  background: #ff9574;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  border-width: 0px;

  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: -0.408px;

  color: #ffffff;
}

.button2 {
  /* BtnBlock */

  width: 132px;
  height: 40px;

  background: #ff7070;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  border-width: 0px;

  /* Small Text */

  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: -0.408px;

  color: #ffffff;
}
