.device-page-jk1j2k1jljk2l {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    > .content {
        width: 80%;
        height: 80%;
        background: white;
    }
}
