.root {
  justify-content: center;
  /* width: 75%; */
  margin: auto;
}

.button {
  display: flex;
  background-color: #d1d1d1;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  width: 275px;
  height: 57px;
}
.BettingResultPastRemainButton {
  background-color: #d1d1d1;
  border-radius: 100px 100px 100px 100px;
  border: none;
  color: #ffffff;
  width: 275px;
  height: 57px;
}

.BettingResultPastComponent {
  width: 345px;
  /* height: 430px; */
  left: 22px;
  top: 174px;
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding: 0px;
  text-align: center;

  background: #ffffff;
  border-radius: 8px;
  margin: auto;
}

.BettingResultPastComponent2 {
  width: 345px;
  /* height: 430px; */
  left: 22px;
  top: 174px;
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding: 0px;
  display: inline-grid;
  text-align: center;

  background: #ffffff;
  border-radius: 8px;
  margin: auto;
}

.BettingResultPastButton0 {
  /* display: flex; */
  background-color: #ff9574;
  border-radius: 100px 100px 100px 100px;
  border: none;
  color: #ffffff;
  width: 275px;
  height: 57px;
}

.BettingResultPastButton1 {
  /* display: flex; */
  background-color: #ff9574;
  border-radius: 100px 0px 0px 100px;
  border: none;
  color: #ffffff;
  width: 170px;
  height: 57px;
}

.BettingResultPastButton2 {
  /* display: flex; */
  background-color: #ff7070;
  border-radius: 0px 100px 100px 0px;
  border: none;
  color: #ffffff;
  width: 105px;
  height: 57px;
}

.Row {
  display: table;
  width: 100% /*Optional*/;
}
.Column {
  display: table-cell;
  background-color: #ffffff /*Optional*/;
}
