.withdrawalBold {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  white-space: pre-wrap;
  color: #000000;
}

.withdrawalContent {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  white-space: pre-wrap;
  color: #000000;
}
.withdrawalSubContent {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  white-space: pre-wrap;
  color: rgba(0, 0, 0, 0.5);
}
.choiceBirth {
  display: flex;
  flex-direction: row;
}
.cryFaceIcon {
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  /* justify-items: center; */
  width: 256px;
  height: 256px;
}
.withdrawalCenter {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.withdrawalTitle {
  font-size: 34px;
  font-weight: 700;
}

.withdrawalContainer {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  border-radius: 10px;
  margin: 10px;
  /* width: 500px;
      height: 150px; */
  padding: 5px;
  /* overflow: hidden;
      word-wrap: break-word; */
  font-size: 12px;
}
