.selectMBTIBox {
  width: 340px;
  height: 137px;
  margin: 10px;
}
.selectBloodTypeBox {
  width: 340px;
  height: 70px;
  margin: 10px;
}

.selectedMBTIBox {
  margin: 0;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--button-font-size, 1rem);
  border-radius: var(--button-radius, 8px);

  color: var(--button-color, #ffffff);

  width: 70px;
  height: 50px;
  border-radius: 7px;
  margin: 5px;
  background-color: #636366;
}
.editProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  margin: 10px;
  /* width: 500px;
	height: 150px; */
  padding: 5px;
  /* overflow: hidden;
	word-wrap: break-word; */
  font-size: 12px;
}

.username {
  font-size: 34px;
  font-weight: 700;
}

.userDetailTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}
