.wonjae_title {
  margin-inline-start: 26pt;
  margin-top: 80pt;
  text-align: left;
}

.welcome_img_container {
  position: absolute;
  top: 0px;
  height: 70%;
  width: 100%;

  background: rgba(40, 40, 41, 0.1);
  border-radius: 0px;
}

.welcome_medium_title {
  position: absolute;
  height: 82px;
  left: 45px;
  right: 45px;
  bottom: 158px;

  margin-top: 35pt;
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.user_num_phrase {
  position: absolute;
  width: 305px;
  height: 48px;
  left: 42px;
  top: calc(50% - 48px / 2 + 313px);

  /* position: relative;
  top: 30px;
  margin-top: 30px; */
}
