.main-page-j23jh28fds8fh {
    display: flex;
    > .board {
        display: flex;
        align-items: center;
        flex-direction: column;
        > .add-btn {
            margin: 25px 25px;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            background: aqua;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
            font-size: 40px;
            line-height: 44px;
            text-align: center;
        }
    }
    > .device {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 0px;
        .hide {
            display: none;
        }
    }
}
