.main-page {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 45px;
    > .card {
        width: 200px;
        height: 300px;
        margin: 15px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
