.Balance {
  display: grid;
}
.RowBalance {
  display: table;
  width: 100% /*Optional*/;
  text-align: center;
}
.ColumnBalance {
  display: table-cell;
  text-align: center;
  background-color: #ffffff /*Optional*/;
  height: 47px;
}
