.index:global {
  display: flex;
  flex-direction: column;
  padding-left: 25px;

  > .register {
    margin-top: 112px;
  }
  > .editUserInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    margin: 10px;
    /* width: 500px;
	height: 150px; */
    padding: 5px;
    /* overflow: hidden;
	word-wrap: break-word; */
    font-size: 12px;
  }
  > .medium-title-box {
    margin-top: 33px;
  }
  > .small-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
  }
  > .row {
    display: flex;
    flex-direction: row;
  }

  > .dropdownButton {
    background-color: #ededed;
    border: 0px;
    border-radius: 12px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
  }

  > .dropdownIcon {
    width: 24px;
    height: 24px;
  }
  > .dropdownDownwardIcon {
    width: 16px;
    height: 8px;
  }
  > .choiceText {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    white-space: pre-wrap;
    color: #000000;
    margin-bottom: 13px;
  }
  > .choiceBirth {
    display: flex;
    flex-direction: row;
  }
  > .choiceResidence {
    display: flex;
    flex-direction: row;
  }

  > .username {
    font-size: 34px;
    font-weight: 700;
  }

  > .slide-fade-out-dropdown {
    overflow: hidden;
  }

  > .slide-fade-out-dropdown > ul {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
  }

  > .components-dropdown > ul {
    position: relative;
    top: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
  }
  > .nationText {
    width: 252px;
  }
}
.dropdownButton {
  background-color: #ededed;
  border: 0px;
  border-radius: 12px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}
.nation {
  width: 340px;
  height: 40px;
  padding: 16px;
}
.city {
  width: 165px;
  height: 44px;
  padding: 16px;
}
.district {
  width: 165px;
  height: 44px;
  padding: 16px;
  margin-left: 10px;
}
.gender {
  width: 340px;
  height: 40px;
  padding: 16px;
}
.year {
  width: 145px;
  height: 40px;
  padding: 16px;
}
.month {
  width: 81px;
  height: 40px;
  padding: 16px;
  /* margin left is temporary */
  margin-left: 16px;
}
.day {
  width: 81px;
  height: 40px;
  padding: 16px;
  margin-left: 16px;
}
.selectBox {
  /* margin: 0; */
  min-width: 0;
  display: flex;
  // width: 100%;
  // padding: 8px 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 0px solid;
  border-radius: 4px;
  margin-bottom: 25px;
  /* color: inherit; */
  /* background-color: #ededed; */
  /* appearance: none; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* background-image: url("../img/cryFaceIcon.png"); */
}
ul {
  list-style-type: none;
  padding-left: 0px;
}

@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.slide-fade-in-dropdown {
  overflow: hidden;
}

.slide-fade-in-dropdown > ul {
  animation: slide-fade-in-dropdown-animation 0.4s ease;
}

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
