.index:global {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  > .back-button {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 21px;
    top: 56px;
  }
  > .register {
    margin-top: 112px;
  }
  > .editUserInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    margin: 10px;
    /* width: 500px;
	height: 150px; */
    padding: 5px;
    /* overflow: hidden;
	word-wrap: break-word; */
    font-size: 12px;
  }
  > .medium-title-box {
    margin-top: 33px;
  }
  > .small-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
  }
  > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  > .dropdownButton {
    background-color: #ededed;
    border: 0px;
    border-radius: 12px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
  }

  > .dropdownIcon {
    width: 24px;
    height: 24px;
  }
  > .dropdownDownwardIcon {
    width: 16px;
    height: 8px;
  }
  > .choiceText {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    white-space: pre-wrap;
    color: #000000;
    margin-bottom: 13px;
  }
  > .choiceBirth {
    display: flex;
    flex-direction: row;
  }
  > .choiceResidence {
    display: flex;
    flex-direction: row;
  }

  > .username {
    font-size: 34px;
    font-weight: 700;
  }

  > .slide-fade-out-dropdown {
    overflow: hidden;
  }

  > .slide-fade-out-dropdown > ul {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
  }

  > .components-dropdown > ul {
    position: relative;
    top: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
  }
  > .nationText {
    width: 252px;
  }
  > .next-step-button {
    margin-top: 34px;
  }
}
.dropdownButton {
  background-color: #ededed;
  border: 0px;
  border-radius: 12px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}
.nation {
  width: 340px;
  height: 40px;
  padding: 16px;
}
.city {
  width: 165px;
  height: 44px;
  padding: 16px;
}
.district {
  width: 165px;
  height: 44px;
  padding: 16px;
  margin-left: 10px;
}
.gender {
  width: 340px;
  height: 40px;
  padding: 16px;
}
.year {
  width: 145px;
  height: 40px;
  padding: 16px;
}
.month {
  width: 81px;
  height: 40px;
  padding: 16px;
  /* margin left is temporary */
  margin-left: 16px;
}
.day {
  width: 81px;
  height: 40px;
  padding: 16px;
  margin-left: 16px;
}

.selectBox {
  position: relative;
  height: 44px;

  background: rgba(237, 237, 237, 0.8);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;

  > .icon {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; // 기본 화살표 없애기

    position: relative;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding: 0 40px;
    background: transparent;
    z-index: 3; // select가 위로 올라와야 함

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: rgba(0, 0, 0, 0.5);
  }

  > .iconArrow {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1;
    width: 30px;

    margin-right: 10px;

    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      transition: 0.3s; // 부드럽게 회전
    }
  }

  > .select:focus + .icoArrow img {
    transform: rotate(180deg);
  }
}

.fullBox {
  width: 340px;
}

.halfBox {
  width: 165px;
}

.yearBox {
  width: 145px;
  > .select {
    padding: 0 15px;
  }
}

.monthBox {
  width: 81px;
  > .select {
    padding: 0 15px;
  }
}

.dayBox {
  width: 81px;
  > .select {
    padding: 0 15px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.slide-fade-in-dropdown {
  overflow: hidden;
}

.slide-fade-in-dropdown > ul {
  animation: slide-fade-in-dropdown-animation 0.4s ease;
}

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
