.card_item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  /* width: 500px;
      height: 150px; */
  padding: 5px;
  /* overflow: hidden;
      word-wrap: break-word; */
  font-size: 12px;
  background-color: #eaeaea;
  /* width: 343px;
    height: 315px;
    background-color: #eaeaea;
    overflow: auto;
    margin-top: 17px; */
}
.card_header {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 12px;
  /* font-family:  */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
  font-style: Bold;
  line-height: 24px;
  line-height: 123.94%;
  vertical-align: Center;
  text-align: left;
  letter-spacing: 0.44px;
}

.card_tag {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;

  text-align: left;
  color: #434343;
}

.hashtag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: center;
  letter-spacing: -0.408px;
  padding-left: 10px;
  padding-right: 10px;

  height: 25px;
  background: #ffb45c;
  border-radius: 20px;

  color: #000000;
}
