.index:global {
    > div {
        width: inherit;
        height: inherit;
        display: none;
        &.on {
            height: 100%;
            width: 100%;
            display: block;
            
            // have to fix this style
            overflow-y: scroll;
        }
    }
}
