.index:global {
    > .NewsletterPageheader{
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
        letter-spacing: 0.374px;
        color: #000000;
        text-align: left;
        margin-left: 30px;
        margin-top: 42px;
        margin-bottom: 22px;
        letter-spacing: 0.374px;
        color: #000000;
    }

    > .NewsletterPagecontents {
        margin-left: 23px;
        margin-right: 23px;
    }
    
 
  



  

  


}