.index:global {
  height: 100%;
  display: flex;
  flex-direction: column;
  > .large-title {
    margin-top: 60px;
    margin-left: 26px;
    flex: none;
    order: 0;
  }
  > .page-contents {
    margin-top: 12px;
    margin-left: 23px;
    margin-right: 23px;
  }
}
