.index:global {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  > .back-button {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    margin-top: 56px;
  }
  > .large-title {
    display: flex;
    flex: none;
    order: 1;
    margin-top: 32px;
  }
  > .medium-title {
    width: 340px;
    height: 109px;
    order: 2;
    margin-top: 33px;
  }
  > .nickname-area {
    width: 340px;
    height: 64px;
    display: flex;
    flex: none;
    flex-direction: column;
    order: 3;
    margin-top: 31px;
    gap: 9px;
    > .nickname-generator {
      width: 100%;
      display: flex;
      flex: none;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      border-bottom: solid 2px rgba(0, 0, 0, 0.25);
      padding-bottom: 4px;
      > .nickname-icon {
        width: 24px;
        height: 24px;
        flex: none;
        order: 0;
      }
      > .nickname-input {
        border: none;

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
      }
      > input::placeholder {
        color: rgba(0, 0, 0, 0.35);
      }
      > .nickname-gen-button {
        background-color: black;
        border: none;
        border-radius: 100px;
        width: 85px;
        height: 32px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 138% */

        text-align: center;
        letter-spacing: -0.408px;

        color: #ffffff;
      }
    }
  }
  > .mbti-area {
    width: 340px;
    display: flex;
    flex: none;
    flex-direction: column;
    order: 4;
    margin-top: 29px;
    gap: 9px;
    > .text {
      > .small-grey-title {
        display: inline;
      }
      > .tiny-grey-title {
        display: inline;
      }
    }
  }
  > .blood-type-area {
    width: 340px;
    display: flex;
    flex: none;
    flex-direction: column;
    order: 5;
    margin-top: 29px;
    gap: 9px;
  }
  > .next-step-button-on {
    display: flex;
    flex: none;
    order: 6;
    margin-top: 34px;
    margin-bottom: 30px;
  }
  > .next-step-button-off {
    display: flex;
    flex: none;
    order: 6;
    margin-top: 34px;
    margin-bottom: 30px;
  }
}
