.kakao_button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 15px;

  /* position: absolute; */
  width: 344px;
  height: 52px;
  left: 23px;
  top: 634px;

  background: #fee500;
  border-radius: 100px;
}

.naver_button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 15px;

  /* position: absolute; */
  width: 344px;
  height: 52px;
  left: 23px;
  top: 762px;

  background: #2db400;
  border-radius: 100px;
}

.google_button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 15px;

  /* position: absolute; */
  width: 344px;
  height: 52px;
  left: 23px;
  top: 698px;

  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  border-radius: 100px;
}
