.index:global {
  > .newletter-card-item {
    width: 343px;
    height: 282px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 17px;
    font-size: 12px;
    background-color: #eaeaea;
    > .newletter-card-img {
      margin: 19px 20px 0;
      background-color: white;
    }
    > .newletter-card-desc {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0px 20px;
      > .newsletter-card-col {
        display: flex;
        flex-direction: column;
        > .newletter-card-title {
          display: block;
          width: 257px;
          height: 24px;
          margin-top: 19px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.44px;
          color: #000000;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        > .newletter-card-tag {
          margin-top: 4px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: -0.408px;
          text-align: left;
          color: #434343;

          > .newletter-card-tag-name {
            margin-right: 5px;
          }
        }
      }
      > .newletter-card-button {
        margin-top: 32px;
        margin-right: 7px;
        background-color: transparent;
        border-width: 0px;
        width: 11px;
        height: 22px;
      }
    }
  }
}
