.index:global {
    > .newletter-card-item{
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        margin-top: 17px;
        font-size: 12px;
        background-color: #eaeaea;
        >.newletter-card-header{
            margin-top: 16px;
            margin-left: 16px;
            /* font-family:  */
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            letter-spacing: 0.44px;
            color: #000000;
        }
        >.newletter-card-img{
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 12px;
        }
        >.newletter-card-desc{
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;

            >.newsletter-card-col{
                >.newletter-card-title{
                    margin-top: 19px;
                    margin-left: 16px;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.44px;
                    color: #000000;
                    text-align: left;
                }
                >.newletter-card-tag{
                    margin-top: 4px;
                    margin-left: 20px;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: -0.408px;
                    text-align: left;
                    color: #434343;
    
                    >.newletter-card-tag-name{
                        margin-left: 5px;
                    }
                }
            }
            >.newletter-card-button{
                margin-top: 21px;
                margin-bottom: 14px;
                margin-right: 14px;
                background-color: transparent;
                border-width: 0px;
                width: 44px;
                height: 44px;
            }
        }
    }

    
 
  



  

  


}