.content {
	border-radius: 10px;
	width: 100px;
	height: 20px;
	padding: 5px;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
}
.orange {
	background-color: #ffb45c;
}
.lime {
	background-color: #e9ff92;
}
