.index:global {
    width: 100%;
    background: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    height: 55px;
    bottom: 0px;
    padding: 0px 15px;
    box-sizing: border-box;
    > div {
        cursor: pointer;
    }
    .search-svg {
        width: 24px;
        height: 24px;
        fill: none;
    }
}
