.main_btn {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  gap: 10px;

  width: 344px;
  margin: 0 auto;

  border-radius: 100px;
}

.enabled {
  background: #000000;
  color: #ffffff;
}

.disabled {
  background: #eaeaea;
  color: rgba(0, 0, 0, 0.25);
}

.main_btn_txt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  /* identical to box height, or 92% */

  text-align: center;
  /* letter-spacing: -0.408px; */

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
