.cards-hjeahdskdhsur89 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    background: rgba(255, 123, 122, 0.2);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    max-width: 1000px;
    margin-bottom: 30px;
    > .card {
        &.new {
            border: 5px solid yellowgreen;
        }
        width: 120px;
        height: 180px;
        margin: 10px 10px;
        display: flex;
        flex-direction: column;
    }
    .move-btn-duo {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 150px;
        > .move-btn {
            border: 1px solid red;
            margin-bottom: 10px;
            width: 50px;
            height: 50px;
        }
    }
}
