:global {
  .large-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.374px;
    color: #000000;
  }
  .medium-title {
    /* Large Title */

    /* position: absolute; */
    width: 335px;
    height: 41px;
    left: calc(50% - 335px / 2 - 2.5px);
    /* top: 186px; */

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .dropdown-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 72px);
    text-align: left;
  }
}
