.hashtagContainer {
  border-radius: 10px;
  margin: 10px;
  /* width: 500px;
	height: 150px; */
  padding: 5px;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 12px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

.hashtagTitle {
  font-size: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 16px;
  margin-left: 16px;
}

.hashtagLists {
  display: flex;
  flex-direction: row;
  margin-top: 11px;
}
