.histogramContainer {
  /* display: flex;
	flex-direction: column; */
  /* width: 100%;
    height: 100%; */
  /* width: 345;
	height: 500; */
  margin: 10px;
  padding: 0;
  background-color: #eaeaea;
  border-radius: 20px;
}
